[2021-11-06 11:20] fo5for opened #5 "Invalid names in `TypeDef`s"
Should we only process `TypeDef`s with valid (i.e. capitalized and distinct) names?
https://github.com/hkust-taco/mlscript/blob/0723a1ae17af9bff8588a2cb6b71694aaca22749/shared/src/test/diff/mlscript/BadTypes.mls#L3-L7

[2021-11-07 15:52] #5 closed, assigned to nobody

[2021-11-12 04:24] LPTK opened #8 "Add mutable assignment"
The scheme is to use an invariant `Ref` type (or call it `Mut`) everywhere, where we have `Ref[T] <: T`, and with a `Ref: 'a -> Ref['a]` constructor. For example we have `{ x = Ref 1 } : { x: Ref[0 | 1] } <: { x: int }`

The advantage over explicitly making record fields optionally mutable is to make the implementation in MLscript easy and modular. But we need to put a restriction on where these `

[2021-11-12 04:25] LPTK opened #9 "Implement method parsing and type checking"
As in the later versions of the paper. This is just an issue to track the progress of the current implementation in https://github.com/hkust-taco/mlscript/tree/methods

[2021-11-12 04:29] LPTK opened #10 "Make functions take multiple parameters"
The goal is to allow easier interaction with JS environments.

 * Make `FunctionType` take a `TupleType` in the LHS instead of a general `SimpleType`

 * Interpret calls like `f(a, b, c)` appropriately

 * Interpret calls like `f 1` as `f(1)`, passing a single argument

Other possible improvements:

 * Named arguments, as in `f(a, x = c)`

 * Auto-currying (type-based), as in `def f(a, b) = a + b;

[2021-11-13 05:08] LPTK opened #12 "Code generator should special-case primitive-typed patterns"
### Example 1

[code]

Current output:
[code]

### Example 2

[code]

Current output:
[code]

[2021-11-13 12:50] LPTK opened #13 "Support shadowing in JS code-gen"
[code]

[code]

[2021-11-13 12:53] LPTK opened #14 "Support inheritance in JS code-gen"
[code]

[code]

This should do the obvious thing, using JS class extension, so that it also works in pattern matching.

[2021-11-13 12:54] LPTK opened #15 "Support basic operators in MLParser"
Such as `2 + 2` instead of `add 2 2`.

[2021-11-15 09:46] #12 closed, assigned to chengluyu

[2021-11-24 01:20] LPTK opened #20 "Support "this types""
Would actually be quite straightforward to support. Example:

[code]

[2021-11-24 01:24] LPTK opened #21 "Support explicit and inferred self types"
Example:
[code]

[2021-11-26 07:02] #14 closed

[2021-11-27 05:44] LPTK opened #23 "Implement JS code generation for methods"
Following up for https://github.com/hkust-taco/mlscript/pull/22 after is merged.

[2021-11-27 05:45] LPTK commented on #8
After some reflection, I thought it should be cleaner to just make mutability a property of record fields. Then, we can implement a library `Ref` type based on a record, like in OCaml.

[2021-11-27 17:10] fo5for opened #24 "Handle polarity of `TypeRef` in `extrude`"
https://github.com/hkust-taco/mlscript/blob/193deba9ab7b3358683405b91fdcb2f2f4dc1c54/shared/src/main/scala/mlscript/ConstraintSolver.scala#L399

`ConstraintSolver.extrude` currently ignores the polarity of the type arguments in `TypeRef`s, which is unsound. This can be fixed by implementing polarity analysis, or by expanding the `TypeRef` before extrusion.

[2021-11-27 17:21] fo5for opened #25 "Handle class type parameters not appearing in body"
https://github.com/hkust-taco/mlscript/blob/193deba9ab7b3358683405b91fdcb2f2f4dc1c54/shared/src/test/diff/mlscript/Methods.mls#L109-L112

Currently polymorphic class types are represented by `ClassTag`s, with no reference to the type parameters. Type parameters not appearing in the body are thus ignored. This leads to soundness problems as type variables lose connection with such type parameters.

[2021-11-27 18:34] fo5for opened #26 "`checkRegular` returns false negatives"
[code]

The `TypeDef` of `Bar` is not registered to the context even though no error are emitted. A quick inspection reveals that `checkRegular` returns `false` in this case.

[2021-11-28 04:11] LPTK commented on #26
Good catch! The issue was that we were checking for equal type arguments for all traversed type definitions, instead of just the one under consideration.

[2021-11-28 04:12] #26 closed, assigned to nobody

[2021-11-29 06:44] LPTK opened #28 "MLscript-core: Add short syntax reference to the web demo"

[2021-11-30 02:35] #13 closed

[2021-12-01 02:12] #9 closed

[2021-12-01 11:05] #25 closed, assigned to LPTK

[2021-12-01 11:12] LPTK opened #31 "Forbid instantiating abstract classes"
For example, this should be rejected:
[code]

[2021-12-02 04:12] #15 closed

[2021-12-02 05:29] LPTK opened #33 "Support `with` construct in JS"
For instance:

[code]

To do this, I guess we should create a new object, copy over all the fields of the previous object (there is a JS method to do that but I forget its name), and set the new fields in the new object, potentially overriding old ones. We may have to also explicitly set the prototype of the new object to the same thing as the old one, so we retain class instance-ness.

[2021-12-02 05:30] LPTK commented on #23
Closed in https://github.com/hkust-taco/mlscript/pull/30

[2021-12-02 05:30] #23 closed, assigned to chengluyu

[2021-12-02 05:32] LPTK opened #34 "Add JS tests"
The JS code-gen has become quite non-trivial and needs to be tested. We should update the diff-tests to also compile and run the JS, probably by shelling out to `node`.

- [x] Make sure to import the tests documented in https://github.com/hkust-taco/mlscript/pull/30

[2021-12-02 07:45] chengluyu commented on #33
The method you mentioned might be [`Object.assign`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/assign). For class instances, we can use [`Object.setPrototypeOf`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/setPrototypeOf).

[2021-12-08 02:05] LPTK opened #37 "Solve annoying constraints in a smarter way"
Currently, the `annoying` resolution routine is way too eager to decompose subtyping problems into smaller ones. For example, it turns anything of the shape `A <: B & C` into `A <: B` and `A <: C`. However, that results in [exponential complexity](https://github.com/hkust-taco/mlscript/blob/mlscript/shared/src/test/diff/mlscript/Stress.mls#L191) for solving fairly common patterns, such as pattern

[2021-12-09 10:40] #31 closed, assigned to fo5for

[2021-12-09 15:15] fo5for opened #39 "`TypeVariable.nameHint` lost in constraint solving and type simplification"
[code]

The name hint for the type parameter `B` in the method definition is lost. I have identified two sources of this issue:

1. `nameHint` is not preserved in extrusion
https://github.com/hkust-taco/mlscript/blob/9930721e118bb60940e244c8c682308f5b27582e/shared/src/main/scala/mlscript/ConstraintSolver.scala#L392
(That's a downside of providing default arguments. You are not forced to review eve

[2021-12-09 15:48] fo5for opened #40 "Emit error for duplicate type parameters"
[code]
Currently the last one takes precedence, and the output contains duplicate type variables. (It breaks surprisingly few things besides ascription.)

[2021-12-10 03:40] LPTK commented on #40
Right. BTW we have the same problem with record fields, although I'm not sure it breaks anything:

[code]

Do you think you can fix them after we've merged my PR?

[2021-12-10 04:44] LPTK commented on #39
Nice job tracing this to the root causes. I tried to fix it, but there is one more thing that's going wrong here. In fact I noticed that method type parameters don't seem to be treated correctly.

[code]

Here `A`  should be treated as a rigid type variable (implemented as a trait tag). I'm looking into fixing it now.

Very true. They should be used sparingly!

[2021-12-10 06:05] LPTK commented on #39
Man, the method typing code is _quite_ hairy. I noticed it also performs some needless subsumption checks. It's in dire need of simplification (let's look at this in the next meeting).

[2021-12-10 10:10] fo5for commented on #39
Right... The unnecessary subsumption checks can be skipped with a guard. But ultimately refactoring should be the way to go.

[2021-12-10 10:12] #39 closed, assigned to nobody

[2021-12-11 07:08] #33 closed, assigned to chengluyu

[2021-12-11 07:12] LPTK opened #45 "JS code-gen is unhygienic"
Example:
[code]

Generates, for the body of `f`:
[code]

The normal way of dealing with this is the "gensym" approach, for "generating symbols". For every name x you want to use, you call gensym("x"), and a new name distinct with every other name in the program is picked.

We could also have a more local version that only picks names different from names currently in scope, which would avoid gener

[2021-12-11 07:16] LPTK commented on #24
I've actually fixed this as part of #41 already. See: https://github.com/hkust-taco/mlscript/pull/41/files#diff-f4d221f395e56fd5ce982b8b65b9d545c499c267f8ccb94d6a3dfc95eebbcad2R405-R411

[2021-12-11 07:16] #24 closed, assigned to LPTK

[2021-12-11 07:36] LPTK commented on #34
While we're at it, there are some cases where JS code-gen results in wrong JS code, such as: `fun {x = 1} -> 0`. Would be good to solve them and add tests for them (it's probably not worth opening an issue for them at this point).

EDIT: also this one: `fun ((x, y)) -> x`

[2021-12-11 08:01] #40 closed, assigned to fo5for

[2021-12-11 14:44] chengluyu commented on #45
Yes. I’m aware of this problem, too. My plan is to track current JavaScript scope during transpiling. The scope object provides name allocation and renaming functionalities.

[2021-12-14 06:52] chengluyu opened #47 "Insert prelude code in a neat way"
The code generator often needs to insert some pre-defined code snippets (temporarily named “prelude code”) in the beginning of generated code. One example is `with` construct (#33, #35). Another example is `error` function. (In current JavaScript syntax, `throw x` is a statement rather than expression). Apart from them, I’d also like to implement `prettyPrint` as a prelude functions so the generat

[2021-12-15 09:07] chengluyu opened #49 "Wrong semantics of re-declarations"
Look at this example first.

Code:

[code]

Types and results:

[code]

My current solution is to rebind the re-declared `x` to another name. For example, generated code should be like this:

[code]

[2021-12-15 09:14] LPTK commented on #49
Wasn't this already done?

If you were using mutation instead, it was definitely the wrong semantics. ML-style let shadowing is nothing more than using the same name for completely distinct variables. It's not like mutation.

That's why a long time ago I suggested a first pass to rename every variable in the program to a unique name. But I think your proposed solution of renaming on the fly only w

[2021-12-15 09:27] chengluyu commented on #49
😅 Unfortunately the current implementation mutates old variables.

[2021-12-15 09:28] chengluyu commented on #49
I renamed the issue making it more accurate. 🤔

[2021-12-15 13:55] #45 closed, assigned to chengluyu

[2021-12-20 08:59] LPTK opened #51 "Harden type simplification and subsumption checking"
There is a lot we can do to make sure that type simplification does the right thing. (Currently, the result of type simplification is only used to pretty-print type inference results, and there are some known bugs, such as [this](https://github.com/hkust-taco/mlscript/blob/1e7c2622398dfd569b84faab7068b70cf414462e/shared/src/test/diff/mlscript/RecursiveTypes.mls#L401-L403).)

For example, we should

[2021-12-31 11:07] #37 closed, assigned to LPTK

[2022-01-03 02:42] LPTK opened #56 "Simplify complements"
This code:

[code]

currently infers as:

[code]

But `1 | true | ~1 & ~true` is equivalent to `(1 | true) | ~(1 | true)` and thus to _top_ (`anything`).

We do need to infer this shape of types when typing pattern matching, because it's possible the type variables originally attached to each case do _not_ get simplified away:

[code]

So this simplification needs to be done much later, after remo

[2022-01-03 05:45] LPTK commented on #10
Closed by #19 and #43.

[2022-01-03 05:45] #10 closed

[2022-01-03 06:11] #49 closed, assigned to chengluyu

[2022-01-03 06:18] LPTK opened #57 "Generate TypeScript type definition files from MLscript modules"
This would allow reusing MLscript definitions from TypeScript.

I don't foresee any major difficulty to implement this, although the handling of recursive types will need the introduction of auxiliary type alias definitions on the TS side, as TS does not support "inline" recursive types such as `(int -> ‘a) as 'a`.

[2022-01-03 06:26] LPTK opened #58 "Allow consuming TypeScript types and trees from MLscript"
The main idea is to interface with the TypeScript compiler and leverage its parser and type checker.

The benefits would be twofold:

 * We can reuse TS types from TS libraries or JS libraries with existing TS bindings, such as those in the popular [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped) project. This would be a huge boon and would make MLscript actually usable for pr

[2022-01-07 13:20] twitu commented on #57
`syntax.scala` contains the relevant types that need to be mapped to typescript types. This is the mapping I could come up with and there are a couple of places I have questions.

| mlscript type | typescript type | comments |
| ------------- | --------------- | -------- |
| Union(lhs: TypeA, rhs: TypeB) | `TypeA \| TypeB` | type union is directly supported |
| Inter(lhs: TypeA, rhs: TypeB) | Type

[2022-01-07 15:54] twitu opened #60 "Tooling based formatter for consistent style and better readability"
Being new to the project and Scala, I found the dense code difficult to navigate and understand. By having a tooling based formatter the styling will stay consistent with good settings for readability.

I found that scala metals vs code extension natively supports formatting by creating a `.scalafmt.conf`. The bare minimum file with default settings contains this -

[code]

More settings are [here

[2022-01-08 10:29] twitu commented on #60
I added some configuration to this.

`plugins.sbt`
[code]

I added more configuration from [sbt-scalafmt-defaults](https://github.com/alejandrohdezma/sbt-scalafmt-defaults/blob/main/.scalafmt.conf) which has a collection of default scala settings.

After this running `sbt scalafmtAll` formats all scala source files in the project. There are task keys that can be used to add formatting checks to CI

[2022-01-08 14:45] LPTK commented on #60
Thanks for the suggestion, but I'm a bit torn on the subject of automated formatting.

On one hand, I agree that the formatting in the current code base is messy in some places, and can be improved. We try to keep under 100 columns, but sometimes don't respect that.

On the other hand, I often deeply dislike the output produced by scalafmt. Whenever something overflows, it suddenly choses to put e

[2022-01-08 14:51] LPTK opened #62 "Fix the handling of free type variables in type definitions"
As exposed in https://github.com/hkust-taco/mlscript/commit/2d12cba437cbe0cfc69afd5bac9fdb723ca187c7, these are currently unsound.

We could either forbid them or make them into implicit type parameters behind the scenes.

[2022-01-08 14:57] LPTK opened #63 "Add Array types"
MLscript already supports tuples, which in JS/TS are represented using arrays.

We should add proper (immutable for now) array types which are supertypes of tuple types.

The easiest would be to have some `Array[T]` with subtyping relationships like `(1, 2, 3) <: Array[1 | 2 | 3]`.

Note for later: it would be nice if we could type [_spreads_](https://www.typescriptlang.org/docs/handbook/release-n

[2022-01-09 11:33] LPTK commented on #57
That's a good start! I have updated your table below, with updates in bold:

| mlscript type | typescript type | comments |
| ------------- | --------------- | -------- |
| Union(lhs: TypeA, rhs: TypeB) | TypeA \| TypeB | | type union is directly supported |
| Inter(lhs: TypeA, rhs: TypeB) | TypeA & TypeB | type intersection is directly supported |
| Function(lhs: TypeA, rhs: TypeB) | (a: TypeA) =

[2022-01-10 00:46] LPTK opened #64 "Support recursive definitions in JS"
Currently, recursive definitions don't work:

[code]

Weirdly, sometimes they do seem to work:

[code]
Is this inconsistency a bug in the handling of scopes/names?

Other examples:
[code]

[2022-01-10 00:52] LPTK commented on #64
@chengluyu being a bit busy this week, maybe someone else wants to take this one up. Cc @Meowcolm024.
(Though we need to wait for https://github.com/hkust-taco/mlscript/pull/53 to be merged.)

[2022-01-10 00:53] LPTK commented on #64
Ah and also: in the future the semantics of recursive definitions will be changed, so that all the `rec def`s in a block can see each other, as in:

[code]

So it would be good to preemptively account for that future semantics in the code-gen.

Finally, we don't yet have a check that recursive defs are "compilable", but eventually we'll need one. For instance:

[code]

It's fine for the JS code to

[2022-01-11 09:12] chengluyu opened #65 "JavaScript code generation backlog"
When working on #53, I met a lot of things that we could improved in the future. Here are them.

- [ ] Find a neat way to store query results. Requirements:
  - If the initialization fails, the variable should not be declared.
  - Declaration should not pollute global context.

  [Source](https://github.com/hkust-taco/mlscript/pull/53#discussion_r780986469)
- [x] ~~Implement `Class.Member instance

[2022-01-12 07:43] #34 closed, assigned to chengluyu, LPTK

[2022-01-12 07:47] LPTK opened #66 "Implement `originProv`"
As discussed in the meeting.

[2022-01-12 07:51] LPTK commented on #65
Traits can also introduce method definitions that can be inherited by classes, so they're not just for pattern matching!

[2022-01-12 10:42] twitu commented on #57
The entry point for function that generates typescript type definitions, say `typeGen: List[TypeDef] => SoureCode`, would take the list of type definitions from the output of `Pgrm.desugared`. It would then iteratively convert the definitions to `SourceCode` which can then be converted to an exportable string representation.

Each `TypeDef` contains all the information needed to convert it to a ty

[2022-01-13 07:43] LPTK commented on #34
@chengluyu You had forgotten to add tests for this stuff. I've added them in https://github.com/hkust-taco/mlscript/commit/7c4b70cda9d3ed0326e2199dc6a79646ad387504.

[2022-01-13 07:50] LPTK commented on #34
@chengluyu You also forgot to add tests for that. Added in https://github.com/hkust-taco/mlscript/commit/7d04016c9c702ccc8a896728b28e39e638b5839f.

You should be more careful when closing an issue, especially when it clearly has uncompleted items/tasks.

[2022-01-13 09:52] chengluyu commented on #34
Thanks for pointing this out! It was a big oversight!

[2022-01-13 10:31] LPTK commented on #57
Not sure what you mean. The table shows how to convert any type expression. Say, for instance, `number -> List[string]` would be converted to `(_: number) => List<string>`. OTOH `TypeDef` is used to represent things like `type Alias = number -> List[string]`, which will be translated to `type Alias = (_: number) => List<string>`.

Actually, the main idea is to first perform type inference. Then, w

[2022-01-14 10:17] twitu commented on #60
As we discussed in the sample PR, commonly used formatting rules makes many whitespace changes and creates larger diffs. This is not desirable.

However there is some value to having consistent (if not very strict) styling. It does make it a little easier to write and understand. There could be a bare bones formatter setting that could be created from these [possible configurations](https://scalam

[2022-01-14 10:44] LPTK opened #69 "Properly support tuple field accessors typing"
There are currently at least two ways in which they are broken:

1. While they work on simple types thanks to the case in `ConstraintSolver`:

[code]

    they don't work for more complex cases, because the normal forms don't know about them:

[code]

2. We can subvert them, causing a soundness problem:

[code]

[2022-01-14 10:46] LPTK commented on #65
- [X] Implement tuple field accessors, as in `(1,2,3)._1` – they currently return `undefined`

[EDIT: actually we'll do it the JS way in the new parser so this shouldn't be necessary]

[2022-01-14 10:46] LPTK commented on #69
Related JS-gen issue: https://github.com/hkust-taco/mlscript/issues/65#issuecomment-1013010123

[2022-01-14 12:50] #47 closed, assigned to chengluyu

[2022-01-15 07:13] Meowcolm024 opened #70 "Can access fields from `anything`?"
To reproduce, add tests with the following:
[code]
It is tested using the code in master branch.

[2022-01-15 08:12] LPTK commented on #70
Good catch! The problem is in the normal forms used to do type simplification. It shows `(1, 2, "hello",) | (true, 3,)` as equivalent to `anything`, but the real least upper bound here, at east according to the half-implemented semantics mentioned in https://github.com/hkust-taco/mlscript/issues/69, would be `{_1: 1 | true; _2: 2 | 3}`.

The specific problematic line is: https://github.com/hkust-t

[2022-01-16 05:01] twitu commented on #57
Oh ok, I had mis-assumed that after type inference/type checking `Pgrm` instance would store the type information for each term in a look up table. Would it be a good idea to decouple the type inference step from the output step? It can be a separate task/issue to store this information.

And my understanding of the desugared program was incorrect. Information for all class, trait and type alias i

[2022-01-17 01:06] LPTK commented on #57
What do you mean by that? Type inference mostly lives in `Typer` and `ConstrainSolver`, which are not coupled with output.

`TypeDefKind` is just essentially an enum. Perhaps you meant `TypeDef`?

It's actually _either_ a body or a type. It's used to encode either a declaration `def f: T` or a definition `def f = t`. In the latter case, we don't have a type yet (type inference is needed to get tha

[2022-01-20 09:09] LPTK commented on #69
I realize the right way of doing this is to change the way field removal types act on tuples (and arrays).

Currently it leaves tuples untouched:

https://github.com/hkust-taco/mlscript/blob/b15b7765ed91217c31c3bdb44db603392fa11ba6/shared/src/main/scala/mlscript/TyperHelpers.scala#L318

https://github.com/hkust-taco/mlscript/blob/b15b7765ed91217c31c3bdb44db603392fa11ba6/shared/src/main/scala/mlscr

[2022-01-24 03:53] LPTK opened #76 "Don't repeat previously-shown locations in origin-provenance hints"
Example from `shared/src/test/diff/mlscript/BadMethods.mls`:

[code]

We could use a mutable set to remember all the locations we've shown so far, so as not to show the same location again.

[2022-01-26 06:17] LPTK commented on #65
- [X] `console.log` does not seem to print anything in DiffTests (kind of fixed by @fo5for in https://github.com/hkust-taco/mlscript/commit/ecca9d8d5072723b575496dac151067292d5129e, using stderr instead)
 - [x] fields defined in traits are not used to initialize class fields in constructors

[code]

 - [x] `this` is captured by enclosing functions, giving it wrong semantics (#123):

[code]

[2022-01-26 06:18] LPTK commented on #66
Fixed in https://github.com/hkust-taco/mlscript/pull/72.

[2022-01-26 06:18] #66 closed, assigned to Elrouille

[2022-01-28 00:59] LPTK commented on #65
- [x] Handling of the `res` running variable is not consistent with DiffTests:

[code]

[2022-02-01 11:05] twitu commented on #57
Couple of challenges when generating function types.

[code]

Some argument types are actually type variables (`TypeVar`) created during type inference. To create a valid typescript type they'll need to be resolved in possibly two ways for e.g. -
* replace `α15` with it's type `int<number>`
* create a type alias above/below like `type α15 = number` above/below the actual function type

Both approa

[2022-02-01 15:43] LPTK commented on #57
Why do you think `α15` is `int<number>` or `number`? If it was, the type inference engine would just output `number`, not  `α15`. This type variable is here because of parametric polymorphism, and it should be a type variable in TS too...

[2022-02-02 04:42] twitu commented on #57
Some points from our discussion today.

Indicates that `α15` is a type variable and the function is actually parametric over it's type. As in -

[code]

This information that the outer function needs a type parameter can be found at the outer function level itself by creating a `ShowCtx` instance which holds the type parameters needed for that particular type.

Any other state like one to create u

[2022-02-02 06:48] LPTK commented on #57
Actually you don't even need to thread through anything. Just have a local recursive definition that captures a local `var` or mutable collection. As in `def foo(...) = { var state = ... ; def impl(...) = ... impl... ; impl(...) }`.

[2022-02-02 15:20] chengluyu commented on #20
Is `method Foo n = console.log n; this` the unimplemented block syntax?

[2022-02-02 15:45] LPTK commented on #20
Oh yeah I guess it's not yet supported in the current parser. It's equivalent to `let _ = console.log n in this`.

[2022-02-07 10:02] LPTK commented on #69
Another improvement request: properly reason about intersected tuple-record types, as mentioned in https://github.com/hkust-taco/mlscript/pull/79#discussion_r800474192.

For example:
[code]

The above should simplify to `test: ("hello", 1,)`.

Moreover in:

[code]
I would have expected to get type `("hello", 1,)` for the latter.

Similarly, the following could "simplify" to `res: Array[1] & {_1: 1

[2022-02-08 07:03] #63 closed, assigned to nobody

[2022-02-08 07:24] LPTK commented on #70
Fixed in https://github.com/hkust-taco/mlscript/pull/79

[code]

[2022-02-08 07:24] #70 closed, assigned to nobody

[2022-02-17 04:51] LPTK commented on #64
It seems #81 solves this for top-level defs but not for recursive let bindings. Cc @chengluyu:

[code]

[2022-02-17 04:54] #60 closed, assigned to nobody

[2022-02-28 04:02] LPTK opened #86 "Don't generate ill-formed TS polymorphic types"
Currently we use parameter lists in places which are not valid in TS.

Example:

[code]

We should just fail TS generation here, or widen the type until it's representable.

[2022-03-07 05:02] LPTK commented on #20
As discussed in the group meeting, it's probably better to make `this` rigid.

At first we implemented it as  a flexible type variables, which allowed to refine the type of `this` as needed, but this has two drawbacks:

1. it generates method types that can't easily be translated to TS (which does not have a construct for refining `this`)

2. it can lead to inferring impossible `this` types (typic

[2022-03-08 02:42] #76 closed, assigned to Elrouille

[2022-03-08 05:30] #62 closed, assigned to LPTK

[2022-03-08 06:07] LPTK commented on #69
Note: To make things simpler, we didn't go with this approach. Instead, we just convert these types to records upon removing fields from them, which is not optimal (`(1, 2) with {_1 = 3}` is typed as `{_1: 3, _2: 2}` whereas it could be typed as `(3, 2)`), but probably sufficient for now.

[2022-03-09 02:42] #69 closed, assigned to nobody

[2022-03-10 04:56] #64 closed, assigned to chengluyu

[2022-03-11 02:26] LPTK opened #94 "Recover parametricity using a `matchable` top type"
Currently, parametricity is violated because we can pattern-match on anything, including abstract types, thereby retrieving information that should not have been accessible.

We can easily fix this by requiring pattern matching scrutinees to be subtypes of some "matchable" upper bound which all concrete types subtype (but not type parameters).

This is similar to Scala 3's `Matchable` type (https:

[2022-03-15 09:59] LPTK opened #97 "Remove type bloat/duplication when showing class type arguments"
The way class type arguments are currently expanded into type ranges is not actually sustainable and creates really ugly/bloated things, especially when recursive types are involved.

For example, see the outrageous example in `Arrays.mls` and here: https://github.com/hkust-taco/mlscript/pull/87#discussion_r825550993.

Here is a rather minimal example:

[code]

A better way would be to output prop

[2022-03-21 06:34] LPTK opened #98 "Support `undefined`, `null`, and related operations/features"
First step: support `undefined`

- add a new syntax form `UnitLit(undefinedOrNull: Bool) extends Lit`

- make `undefined` a keyword in MLParser, parsing as `UnitLit(true)`

- make `undefined` a builtin type in Typer.scala

- update Typer's typeTerm to assign type undefined to keyword undefined

- update JS code generation in JSBackend to account for undefined

[2022-03-28 04:50] #8 closed

[2022-04-06 05:26] #57 closed, assigned to twitu

[2022-04-11 04:41] LPTK opened #101 "Implement variance analysis"
This will be important to simplify inferred types further.

[2022-04-14 16:42] twitu commented on #101
We're trying to create a method here say `getVariance` in `Typer.scala`. This method will find the variance of an expression for all it's type parameters (inputs and outputs).

As discussed on discord the following class is a good way to encode variance information.

[code]

Since variance will be used for further simplification this analysis should be done on the internal representation of types

[2022-04-15 04:52] LPTK commented on #101
It would make more sense to make it `computeVariances(ctx: Ctx)`, because it will have to figure out the variance of all related classes (which may refer to each other recursively) in a type hierarchy at once, using a fixed point. The `computeVariances` method would leave those types that already have their variance info untouched, and would set the variance info for the others.

[2022-04-15 12:32] twitu commented on #101
Ohk so tentatively `computeVariances(ctx: Ctx, typeVariances: HashMap[BoundedVariable, VarianceInfo]): Unit` takes the context and free type variables. Recursively keeps updating the variance info and stops when there is no further change. The hash map could be part of `Ctx` as well, if that's better design.

These are the rules I can think off to compute the variance -
* (arg: a) -> b => a is con

[2022-04-15 15:33] LPTK commented on #101
This is only true in positive positions. Obviously they reverse in the opposite polarity.

The real difficulty here is what to do when you arrive at something like `C[S, T, ...]`. You can't recurse into analyzing `S`, `T`, ... without knowing the parameter variances of `C`. But to compute these parameter variances, you may need to look at other occurrences of `C[S', T', ...]` types.

So you probab

[2022-04-15 17:36] twitu commented on #101
What if we have a commutative and associatve operation to combine the variances. For e.g. this

[code]

Feels very much like integer multiplication, co => +, contra => -, inv => 0, bi => +1. Being commutative and associative the order does not matter, we could go down one C[S, T..] and apply whatever we learn. If we encounter another C[S', T'...] we again apply whatever we learn to existing varian

[2022-04-19 06:43] LPTK commented on #101
Example given in group meeting:

[code]

[2022-04-21 09:28] LPTK opened #102 "Simplify positive intersection co-occurrences too"
The following is currently not simplified:

[code]

But we could simplify it to `(Some['A] & 'this) -> 'this` because `'this` always co-occurs with `Some['A]` negatively.

We could also probably do the same for unions, though it would be less straightforward to implement since we put types in DNF, not CNF.

[2022-04-21 09:36] LPTK opened #103 "Support argument list and array splices `...xs`"
Support typing and type inference for argument list and array splices.

Examples: `f(a, b, ...c, d, ...e)` and `[a, b, ...c, d, ...e]`.

Type inference should do its best to infer the most precise types, but it may sometimes hit ambiguities, such as when constraining `(a, b) <: (...?s, ...?t)`. In such cases, reporting a type error will be fine, prompting users to write a type annotation in order

[2022-04-21 10:15] LPTK opened #104 "Support precise type inference for element indexing"
The goal is to support precise type inference for the indexing operator `a[i]`.

For instance, if `a` turns out to have type `Array<int>`, then `a[0]` should have type `int | undefined`; but if `a[0]` turns out to have a more precise type such as `[int, bool, nat]`, then  `a[0]` should have type `int`.

(Note: the `... | undefined` return type for imprecise indexing type inference is in the proces

[2022-04-21 11:29] LPTK commented on #103
The way I'm thinking to represent that is by using a new type form:

[code]

For example, `(a, b, ...c, d)` would be represented as `Splice(TupleType(a :: b :: Nil), c, TupleType(d :: Nil))`.

A complication will arise when computing the `Conjunct` normal form of two such splices. For now it's fine to raise a type error when this happens. (Eventually, we may have to add a `BaseType` form for arbit

[2022-04-22 06:28] Meowcolm024 commented on #103
I don't quite understand this part: `Splice(TupleType(a :: b :: Nil), c, TupleType(d :: Nil))`, is using `TupleType` here purely for convenience?
I wonder if it would be cleaner to use something like `Splice(Left(a), Left(b), Right(c), Left(d))` @_@

[2022-04-22 08:19] LPTK commented on #103
Oh yeah you're actually right, my bad. Better use a clean `Either` here rather than subtypes. My example actually does not make sense (`c` could later also turn out to be a `TupleType`, which would mean we'd represent the wrong splice).

[2022-04-23 10:15] andongfan commented on #65
- [x] Fix syntax error of objects wrapped by lambdas, should be `((x) => ({t1: gt(1)(2), t2: 1}))` (#124).

[code]

[2022-04-23 14:08] LPTK commented on #65
@andongfan would you like to try and tackle some of this issues, including the new one?

@chengluyu Is the list of issues on this ticket up to date? I feel like a few have been solved already.

[2022-04-23 14:15] LPTK opened #106 "NodeJS REPL integration swallows errors"
As we've seen before, such as here: https://github.com/hkust-taco/mlscript/issues/65#issuecomment-1107447111

When there is a top-level syntax error in the NodeJS REPL, nothing in the test output indicates that anything is wrong. Even the `:ShowREPL` option does not show the syntax error output.

We should have a way of more effectively debugging such issues. Ideally by properly reporting the erro

[2022-04-23 15:18] andongfan commented on #65
I think I can have a try :)

[2022-04-27 01:39] LPTK commented on #104
Actually a simpler approach may be possible, although not completely equivalent. But it would be a cleaner first step.

The idea is to just introduce a new form of function-like type, call it `IndexType(idx: SimpleType, res: SimpleType)`, written `[idx] ~> res`. When typing `a[i]`, just create a fresh `?R` and constrain `lhs <! [i_ty] ~> ?R`. Then solve the constraints in the obvious way.

We get

[2022-04-27 03:47] LPTK commented on #101
- [ ] TODO: Raise a warning when a type parameter is found to be bivariant – something like "`type parameter T is irrelevant and could be removed`".

[2022-05-02 12:32] Meowcolm024 commented on #103
Basically what I found that in TypeScript:

1.  in functions: the rest argument `...rest: any[]`, can only be the **last** argument
2. in arrays: there can only exist **1** rest element

So, if we want to follow TypeScript, the `SpliceType` could be:

[code]

We can also continue with the original one and reject the ones that are ambiguous...
I wonder what to do next @_@

[2022-05-02 14:36] LPTK commented on #103
I don't think that's true. Here's an example valid JS program:

[code]

The TS version needs some more type annotations, but also works:

[code]

I don't think that's true either. Here's an example valid TS program:

[code]

Maybe here you're talking about _patterns_ and _parameter lists_, which should indeed have such restrictions. We can add a check for this restriction later. In any case, the i

[2022-05-02 14:46] Meowcolm024 commented on #103
Oh yes, I think I'm talking patterns when defining functions and type annotations 😂
Because we cannot do the following:
[code]
So only patterns have restrictions, but spreading lists is not restricted...

[2022-05-06 03:45] #101 closed, assigned to twitu

[2022-05-12 10:07] #20 closed, assigned to chengluyu

[2022-05-20 06:11] LPTK opened #109 "Variance analysis ignores types inferred from method definitions"
@twitu I just realized that variance analysis only looks at method declarations and simply ignores definitions...

[code]

This is obviously wrong!

[2022-05-20 06:15] #109 closed, assigned to nobody

[2022-05-20 07:13] LPTK commented on #97
Fixed in #99.

Now these print as:

[code]

[2022-05-20 07:13] #97 closed, assigned to nobody

[2022-06-27 07:39] fo5for opened #114 "Simplification bug with methods and type parameters"
Discovered in c87010fca5f0f2742ab5d56aed7f5831f9af5ad0.

[code]

In the first definition of `g` using `x.Get`, the inferred type is erroneously printed with a `nothing`. This appears to be a simplification bug since actually passing something of the function parameter type to `g` results in an error. The error message also refers to type `"a"`, which does not appear in the printed type of `g`. The

[2022-06-27 08:16] LPTK commented on #114
Thanks for reporting. Do you want to try your hand on it? (After the POPL deadline ofc.) You can see what's going on using the debug-simplification command `:ds`.

[2022-06-28 05:51] fo5for commented on #65
- [x] Code execution for variables with primes is broken -- they return the result of the previous query (Fixed in #122)

[code]

[2022-06-28 19:06] chengluyu commented on #65
[code]

We didn't handle the case.

Since when can we use primes in the identifiers?

[2022-06-28 19:59] LPTK commented on #65
They've always been supported in ML-family languages like OCaml and Haskell 😛

[2022-06-30 04:22] asiloh commented on #65
- [X] Division of integer values yields a non-integer value. (fixed in https://github.com/hkust-taco/mlscript/commit/f0a16428e12899781274540ede4c1e5df439565c)

[code]

[code]

[2022-06-30 09:11] LPTK commented on #65
@zhao-huang Good catch! The initial context in `Typer.scala` should have `"/" -> numberBinOpTy` instead of `"/" -> intBinOpTy`, where `numberBinOpTy = fun(singleTup(DecType), fun(singleTup(DecType), DecType)(noProv))(noProv)`.
Note that `int <: number` so `1 / 2` should be typeable as `number`.

[2022-07-13 04:23] LPTK opened #118 "Sound and improved treatment of polymorphism and type variables"
We should not generalize non-function values, which is unsound in the presence of mutation.

Also, it would be good to handle all `'a` variables as rigid and have a different `?a` syntax for flexible ones.

Also, we should be able to refer to the same variables across type annotations in a given def. So we should store type variables in the typing context, not just in an inner map of `typeType2`.

[2022-07-13 16:51] LPTK opened #119 "Simplify the `with` construct semantics"
Currently, this construct can override fields from classes with incompatible types while keeping the class identity (nominal tag). This is sound because the bare identity only informs about runtime instance testing and not about any specific field types – for that, one needs the full class type.

The flip side of the coin is that we cannot assume anythings from bare class identity although we'd of

[2022-07-16 06:00] LPTK opened #120 "Implement new MLscript syntax"
This is a tracking issue for the current effort to reimplement the parser, and with it change and extend the syntax of MLscript to make it more practical and expressive.

Among other things, the new syntax will allow nested classes, and class definitions will be allowed to take value parameters. The unnesting of classes for efficient compilation is briefly discussed here: https://github.com/hkust-

[2022-07-22 02:09] LPTK opened #125 "Traits should be implemented as proper mixins"
Internally, traits should use the standard JS mixin inheritance model, as described here:
https://justinfagnani.com/2015/12/21/real-mixins-with-javascript-classes/#bettermixinsthroughclassexpressions

(Note: TS supports the pattern to some extent but it's very incomplete and hacky: https://www.typescriptlang.org/docs/handbook/mixins.html)

[2022-07-29 07:04] mahzoun99 commented on #98
Umm, What is the next step?

[2022-07-29 09:58] LPTK commented on #98
Oh I think this issue should have been closed by https://github.com/hkust-taco/mlscript/pull/105, right? It was a mistake not to link the PR with the issue. Or do you still see anything that's missing?

[2022-07-29 11:04] mahzoun99 commented on #98
Yes, I agree. I think it is done 🤔

[2022-07-29 11:43] #98 closed, assigned to nobody

[2022-07-30 17:36] Matheart commented on #104
can i say for the `indexed in` case, one of `i`'s upper bounds must be `int`, and `string` for the `indexed by` case?

[2022-07-31 04:51] Matheart commented on #104
So the main algorithm is as follows:
1. We handle the `array` and `record` cases separately, where we should write two functions `IndexedIn` (for `array`) and `IndexedBy` (for `record`) inside the `ConstraintSolver` class in  `ConstraintSolver.scala`.
2. These two functions should pass extra meta information to allow more accurate type inference. We should not change this information unless in the

[2022-08-01 08:15] Matheart commented on #104
For the other algorithm you mentioned, do I still need to write the two functions?

[2022-08-01 09:28] LPTK commented on #104
No, that's not at all the semantics I proposed above. Please read again:

Also for now let's only focus on arrays.

It seems you have forgotten or you misremember the explanations I gave you in our last meeting. Did you take notes? I proposed op add the "indexed by" and "indexed in" lists as mutable `var` fields in `TypeVariable`, and treat them accordingly when constraining type variables (in the

[2022-08-16 15:56] Matheart commented on #104
Things to be discussed in the meeting tmr (just want to drop it here so more convenient to take look)

The Remaining Cases:
(1). [1 + 1]: seems it goes into `case (_, t: TypeVariable)` but idk why `implementation is missing at the end`

(2). Defined things but not being assigned a value for string, float, etc... , I found  `(_, TypeRef(TypeName("string")` can be only used to match this instead of

[2022-08-24 12:55] chengluyu opened #130 "The next step of code generation"
This issue discusses the next code generation. There are several problems with the current code generator.

1. **The current AST is not standard and incomplete.** As the MLscript’s syntax becomes more expressive. We should make use of most JavaScript syntax (excluding the bad parts, of course) in the generated code. The new syntax trees will be generated from [Babel][babel]’s syntax tree [definiti

[2022-08-31 01:16] LPTK commented on #106
BTW @chengluyu isn't this fixed now?

[2022-08-31 01:40] #56 closed, assigned to nobody

[2022-08-31 01:43] LPTK commented on #56
Turns out this was already fixed.

And by the way, the latter type `(1 & 'a | true | ~1 & ~true) -> (false | true | 'a)` can be simplified to `(1 & 'a | ~1) -> ('a | false | true)`, which we now infer. (Though we are not yet able to simplify the original type when written out explicitly by the user.)

[2022-08-31 01:50] LPTK commented on #21
I no longer think it's a good idea to infer self types (or receiver refinements, for that matter), but we could still use partially-specified self types with class-level type variables to achieve simple extensible programming as in @andongfan's project:

[code]

I think this actually helps to clarify the approach, and could be presented as the desugaring of the syntax we show in the SRC extended a

[2022-09-02 06:22] NeilKleistGao opened #134 "TypeScript Libraries Support"
Implementing ts2mls to allow using TypeScript libraries in MLscript.

Candidate TypeScript Libraries:
- https://github.com/gcanti/elm-ts
- https://github.com/gcanti/fp-ts/blob/master/src/Option.ts
- https://github.com/ionic-team/ionic-framework
- https://github.com/AykutSarac/jsoncrack.com
- https://www.npmjs.com/package/@types/lodash

[2022-09-02 06:25] NeilKleistGao commented on #134
TODO:
- [x] Generate MLscript declarations in new syntax for classes
- [x] Generate correct namespace structure by extending namespaces in `NewParser.scala`

[2022-09-06 09:17] LPTK opened #137 "Add comprehensive contribution guide"
How to install all that's needed, run the tests, run tests individually, etc. etc.

[2022-09-08 09:32] chengluyu commented on #106
Yes. It’s fixed. Note that `console.log` still outputs nothing because it's mixed in the output. For example,

[code]

But as you commented in #65, Tony made a helper function at https://github.com/hkust-taco/mlscript/commit/ecca9d8d5072723b575496dac151067292d5129e

[2022-09-08 09:38] LPTK commented on #106
Ok, thanks for the follow-up.

[2022-09-08 09:38] #106 closed, assigned to chengluyu

[2022-09-08 09:49] chengluyu commented on #134
Is it from `.ts` to `.mls`, or `.d.ts` to `.mls`?

[2022-09-08 09:57] LPTK commented on #134
I think it should work with both. Right?

[2022-09-09 07:54] andongfan commented on #65
- [ ] Fix code generation `undefined` for blocks in `let`/ `fun` bindings.

[code]

[2022-09-14 03:14] NeilKleistGao commented on #134
I think so. I can add some `.d.ts` tests later.

[2022-10-03 03:06] NeilKleistGao commented on #134
- [x] Generate type alias declaration

[2022-10-04 02:56] LPTK commented on #28
See the one in MLstruct: https://github.com/hkust-taco/mlstruct/blob/bfdd2c02db024d50021dae089d86355e9e9436a1/index.html#L84-L242

Though we'll want to switch to the new syntax soon (https://github.com/hkust-taco/mlscript/issues/120) and document _that_ syntax.

[2022-10-05 01:52] NeilKleistGao commented on #134
All interfaces are from [TypeScript types.ts](https://github.com/microsoft/TypeScript/blob/main/src/compiler/types.ts)

[2022-10-11 09:50] NeilKleistGao commented on #134
- [ ] Add `private`/`protected`

[code]

[2022-10-11 10:02] NeilKleistGao commented on #134
- [ ] deal with `export` in ts

Example:
[code]

In this case, `Base` will not be exported so users can't access to it. However, we still need to consider that `MyClass` extends the `Base` so we need to add `a: number` into `MyClass`

[2022-10-11 10:39] NeilKleistGao commented on #134
Also we can create an instance by calling the exported function, but we can't use `new`:
[code]

[2022-10-11 10:44] NeilKleistGao commented on #134
- [x] Fix such situation:

[code]

[2022-10-11 10:44] LPTK commented on #134
Interesting. What's the return type of `N1.get()` when viewed from the outside of this module/file? If it's something like `N1.Foo`, then that means we should still export the class, but simply make its constructor private.

[2022-10-11 11:33] NeilKleistGao commented on #134
The type I got is:
[code]

In the members, we can also get private/protected members.
So I think we do need a private constructor. 🤔

[2022-10-11 14:53] LPTK opened #145 "Add documentation to the MLscript code base"
I have not had any time to do this, but several people are already familiar with relevant parts of the code. It would be great if they could contribute some documentation.

We've already started a little with https://github.com/hkust-taco/mlscript/issues/137.

[2022-10-13 11:32] LPTK opened #147 "Type errors in class definitions are swallowed in the web demo"
Try with:

[code]

Related: https://github.com/hkust-taco/mlstruct/commit/f4f66943b3431cf9d2dc3de836b8b36a210f2c8c, but I'd like a more proper fix for MLscript.

[2022-10-14 03:08] NeilKleistGao commented on #134
I also find something like this in https://github.com/gcanti/fp-ts/blob/master/src/Option.ts.
[code]

I think we'd better convert all stuffs rather than merely functions or interfaces.

[2022-10-14 05:01] LPTK commented on #134
Huh, well yeah of course we should convert these too...

[2022-10-14 05:02] LPTK commented on #134
(Note that the URI machinery is for higher kinded types and is used in conditional types, which we don't yet support.)

[2022-10-17 03:15] NeilKleistGao commented on #134
- [ ] Add `readonly` support(`mut` in MLScript)

[2022-10-26 08:13] LPTK opened #148 "Add support for class type difference"
As a more convenient and less obscure syntax for the intersection of a negated nominal class tag `T & ~#Cls`, we could support the class type difference syntax `T \ Cls` (as pure syntax sugar also used by the compiler to present types to users).

[2022-11-22 15:21] LPTK opened #151 "UCS/UPS tracking issue"
Issue to track the parts of the UCS implementation that are still incomplete or wrong – please update with more cases as you find them.

### Translation

 - [x] Support virtual constructors for pattern matching against tuples. **Note as of Jan 2024**: We implemented simple tuple pattern in #194 and we will support advanced tuple patterns, for example, splice tuple patterns, in the near future.
 -